@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  background-color: white;
}

.wrapper {
  overflow: hidden;
}

.header {
  font-family: 'Lato';
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin: 17px 0;
}

._container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin: 0 173px 0 0;
}

.header__menu {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__menu ul li:not(:last-child) {
  margin: 0 73px 0 0;
}

.header__menu ul li {
  line-height: 30px;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1200px) {
  .header__menu ul li:not(:last-child) {
    margin: 0 40px 0 0;
  }
}

@media (max-width: 960px) {
  .header__menu ul li:last-child {
    margin: 0 73px 0 0;
  }
}

@media (max-width: 680px) {
  .header__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header__buttons {
    width: 100%;
    margin: 40px 0 0 0;
  }
  .header__logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
  .header__menu {
    width: 0px;
  }
  .header__menu ul li {
    margin: 0;
  }
}

.header__signin {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  height: 51px;
  width: 120px;
  background-color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__starttrial {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  height: 51px;
  width: 183px;
  background-color: #01996D;
  border-radius: 4px;
  color: white;
}

.beaware {
  background: url(../img/beaware/bg1.png) 0 0/auto 100% no-repeat;
  background-position: 50%;
  height: 880px;
  padding: 175px 0 0 0;
}

.beaware__whitecover {
  background-color: rgba(255, 255, 255, 0);
  height: 1055px;
  margin: -175px 0 0 0;
  opacity: 1;
}

.beaware__title {
  font-family: 'georgia';
  font-weight: 700;
  font-size: 65px;
  line-height: 74px;
  color: #01996D;
  padding: 175px 0 0 0;
  width: 440px;
}

.beaware__subtitle {
  width: 420px;
  font-family: 'Lato';
  font-weight: 400;
  font-size: 20px;
  line-height: 31px;
  margin: 30px 0 60px 0;
}

.beaware__button {
  width: 227px;
  height: 65px;
  background-color: #01996D;
  font-family: 'Lato';
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: white;
  border-radius: 4px;
}

@media (max-width: 1000px) {
  .beaware__whitecover {
    background-color: rgba(255, 255, 255, 0.582);
  }
}

.howitworks {
  padding: 169px 0 50px 0;
}

.howitworks__subtitle {
  font-family: 'Lato';
  font-weight: 600;
  font-size: 24px;
  line-height: 157%;
}

.howitworks__flex1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.howitworks__title {
  font-family: 'georgia';
  font-weight: 700;
  font-size: 50px;
  line-height: 74px;
  color: #01996D;
  max-width: 570px;
}

.howitworks__text {
  font-family: 'Lato';
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #424242;
  width: 671px;
}

@media (max-width: 995px) {
  .howitworks__flex1 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .howitworks__flex1 .howitworks__title, .howitworks__flex1 .howitworks__text {
    width: 100%;
    max-width: none;
  }
}

.howitworks__flex2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.howitworks__card {
  max-width: 30%;
  min-width: 256px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.howitworks__number {
  font-family: 'georgia';
  font-size: 150px;
  line-height: 150%;
  color: #01996e41;
}

.howitworks__title2 {
  font-family: 'georgia';
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
  color: #000000;
  margin: -95px 0 0 90px;
}

.howitworks__text2 {
  font-family: 'Lato';
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #424242;
  margin: 70px 0 60px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.howitworks__image {
  height: 492px;
  border-radius: 12px;
}

.howitworks__image_1 {
  background: url(../img/howitworks/1.jpg) 0 0/cover;
}

.howitworks__image_2 {
  background: url(../img/howitworks/2.png) 0 0/cover;
}

.howitworks__image_3 {
  background: url(../img/howitworks/3.jpg) 0 0/cover;
}

@media (max-width: 995px) {
  .howitworks__personalize {
    max-width: 45%;
  }
  .howitworks__write {
    max-width: 45%;
  }
  .howitworks__alivio {
    max-width: 100%;
  }
  .howitworks__alivio .howitworks__image {
    max-width: 390px;
  }
  .howitworks__text2 {
    margin: 20px 0 60px 0;
  }
}

@media (max-width: 620px) {
  .howitworks__card {
    max-width: 100%;
  }
  .howitworks__card .howitworks__image {
    max-width: 390px;
  }
}

.story {
  background-color: #245852;
  color: white;
  padding: 230px 0 170px 0;
}

.story__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.story__info {
  width: 36%;
}

.story__title {
  font-family: 'georgia';
  font-weight: 500;
  font-size: 50px;
  line-height: 157%;
  letter-spacing: 0.6px;
  margin: 0 0 33px 0;
}

.story__subtitle {
  font-weight: 400;
  font-size: 25px;
  line-height: 157%;
  margin: 0 0 57px 0;
}

.story__button {
  background-color: #01996D;
  color: white;
  width: 240px;
  height: 65px;
  border-radius: 4px;
  font-family: 'Lato';
  font-size: 20px;
  line-height: 25px;
}

.story__vid {
  width: 57%;
  background-color: #ebacac;
  border-radius: 16px;
  height: 500px;
}

@media (max-width: 1150px) {
  .story__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .story__info {
    text-align: center;
    width: 100%;
  }
  .story__vid {
    width: 75%;
    margin: 50px auto 0;
    height: 400px;
  }
}

.footer {
  color: #245852;
  padding: 95px 0;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Lato';
  font-size: 25px;
  line-height: 30px;
}

.footer__list > * {
  padding: 0 15px;
}
/*# sourceMappingURL=style.css.map */